<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeacherEvaluation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TeacherEvaluation.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>AKIBAYASHI</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>TeacherEvaluation</value>
            </setting>
            <setting name="studentUN" serializeAs="String">
                <value>TE_student</value>
            </setting>
            <setting name="studentPW" serializeAs="String">
                <value>student</value>
            </setting>
            <setting name="teacherUN" serializeAs="String">
                <value>TE_teacher</value>
            </setting>
            <setting name="teacherPW" serializeAs="String">
                <value>teacher</value>
            </setting>
            <setting name="managerUN" serializeAs="String">
                <value>TE_manager</value>
            </setting>
            <setting name="managerPW" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="lastIdentity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>1030415615</value>
            </setting>
        </TeacherEvaluation.Properties.Settings>
    </userSettings>
</configuration>